*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden
}

#wrapper{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    background-color: black;
}
#nav{
    flex: 0 1 auto;
}
.nav_buttons{
    border-radius: 5px;
    border: 1px solid white;
    font: 150% bold tahoma;
    color: white;
    text-align: center;
    padding: 1%;
}

.nav_buttons:hover{
    color: #33ffff;
    border: 1px solid #33ffff;
    font: 165% bold tahoma;
    cursor: all-scroll;
}
.lft_panel_div{
    border:2px solid white    
}
.lft_panel_text{
    font: 200% bold tahoma;
    color:white;
    border:2px solid white 
}
.lft_panel_div:hover{
    border: 2px solid #33ffff;
    cursor: all-scroll;
}
.lft_panel_text:hover{
    font: 215% bold tahoma;
    color: #33ffff;
    border:2px solid #33ffff ;
    cursor: all-scroll;
}
#action_box{
    max-height: 0px
}

#map{ 
    margin:1.5%;
    width:97%;
    height:0%;
    order:1;
    flex: 0 1 auto;
    border:2px solid white;
}